configuration {
    modi: "drun,window,run";
    terminal: "wezterm";
    drun-display-format: "{icon} {name}";
    display-drun: "";
    display-window: "";
    display-run: "";
    font: "JetBrainsMono Nerd Font 12";
}

@theme "ayu-dark"

/* couleurs du fond d ecran (generees par matugen), par-dessus celles de ayu-dark */
@import "~/.config/rofi/matugen-colors.rasi"
